<section class="home-hero parallax--bg">
	<div class="container">
		<h1 class="title parallax--box">Final Fantasy XV<span>Fan page</span>
		</h1>
		<a href="" class="button button-accent">Gallery art.</a>
	</div>
</section>

<div class="container">
	<section class="home-about">

		<div class="home-about-textbox parallax--box">
			<h1>Synopsis</h1>
			<p>Final Fantasy XV takes place on the Earth-like world of Eos,[15] which is divided between four nations: Lucis, Accordo, Tenebrae and Niflheim.</p>
			<p>Lucis, occupying a whole landmass, possesses a magical artifact known as the Crystal, gifted to the reigning Caelum dynasty by the world's deities in antiquity and accessed through the hereditary Ring of the Lucii. Accordo, located in the southern part of Eos, is an island nation formed through a union of free trading cities.</p>
		</div>


	</section>
</div>

<h1>Art by the fans</h1>
<section class="portfolio">
	

	<!--  item 01 -->
	<figure class="port-item">
		<%= image_tag 'ffxvteam' %>
		<figcaption class="port-desc">
			<p>the team FFXV</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!--  item 02 -->
	<figure class="port-item">
		<%= image_tag 'FFXV-Moogle' %>
		<figcaption class="port-desc">
			<p>FFXV family</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!--  item 03 -->
	<figure class="port-item">
		<%= image_tag 'galdiolus' %>
		<figcaption class="port-desc">
			<p>Galdiolus</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!--  item 04 -->
	<figure class="port-item">
		<%= image_tag 'final-fantasy-xv' %>
		<figcaption class="port-desc">
			<p>Final fantasy trip</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!--  item 05 -->
	<figure class="port-item">
		<%= image_tag 'noctis_hwoarang' %>
		<figcaption class="port-desc">
			<p>The new chalenger</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!--  item 06 -->
	<figure class="port-item">
		<%= image_tag 'Luna-trailer-ffxv' %>
		<figcaption class="port-desc">
			<p>Luna</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

</section>

<section class="cta">
	<div class="container">
		<h1 class="title title-cta">Thats all for now!
			 <span>Thanks for visting!</span>
		</h1>
	</div>
</section>




